.header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 46px;
    padding-left: 15px;
    padding-right: 15px;
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__tel {
        text-decoration: none;
        color: $gray;
        transition: 0.3s ease;
        font-weight: 500;
        letter-spacing: 0.075rem;
    }
}

.logo {
    display: block;
    background-repeat: no-repeat;
    background-image: url(../../../img/HOMEFOR.svg);
    width: 140px;
    height: 23px;
}

.nav {
    display: flex;
}