@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";
:root {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $black;
    overflow-x: hidden;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.section-main {
    background-image: url(../img/image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 200px;
}

.main {
    display: block;
    text-align: center;
    &-text {
        text-align: center;
        &__description {
            color: $white;
            margin: 35px 0px 68px;
            line-height: 1.34;
        }
    }
}

.title {
    color: $white;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    line-height: 70px;
}

.btn {
    display: inline-block;
    color: $black;
    background-color: #fffffe;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    padding: 0rem 3.28rem;
    letter-spacing: 3.24px;
    transition: .2s ease;
    &:hover {
        color: $gray;
    }
}

.slider-village {
    position: relative;
}

.slider-item {
    min-height: 520px;
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
}

.slick-list,
.draggable {
    max-height: 550px;
}

.slider-display {
    height: 521px;
}

.slick-dots {
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-indent: -9999px;
    padding: 8px 0 48px 0;
    cursor: pointer;
    &>li {
        width: 8px;
        height: 8px;
        background: $gray;
        opacity: 0.7;
        margin-right: 7px;
        margin-left: 6px;
        transition: .3s ease;
        &:hover {
            background: $white;
            opacity: 1;
        }
    }
    &>li.slick-active {
        background: $white;
        opacity: 1;
    }
}

.slick-prev,
.slick-next {
    position: absolute;
    background-color: transparent;
    border: none;
    top: -57px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 28px;
    height: 28px;
    opacity: 0.4;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
    &:focus {
        outline: none;
    }
}

.slick-prev {
    right: 57px;
    background-image: url(../img/slider-arrow-2.png);
}

.slick-next {
    right: 10px;
    background-image: url(../img/slider-arrow-1.png);
}

.slider-village>.slick-dots {
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-indent: -9999px;
    padding: 8px 0 48px 0;
    cursor: pointer;
    position: absolute;
    top: -50px;
    left: 0;
}

.slider-village>.slick-dots>li.slick-active {
    width: 395px;
    height: 1.4px;
    background: #827686;
    opacity: 1;
    margin-right: -8px;
    margin-left: 7px;
    transition: .3s ease;
}

.slider-village>.slick-dots>li {
    width: 286px;
    height: 1.3px;
    background: #827686;
    opacity: 0.4;
    margin-right: -8px;
    margin-left: 7px;
    transition: .3s ease;
}

.village-text {
    // .village-text__title
    &__title {
        color: $black;
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        margin-bottom: 26px;
    }
    // .village-text__description
    &__description {
        color: $black;
        font-weight: 400;
        line-height: 24px;
        max-width: 520px;
        text-align: center;
        margin: 0 auto 139px;
    }
}

// section city
.section-city {
    margin-top: 142px;
    margin-bottom: 100px;
}

.city-text {
    &__title {
        color: $black;
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        margin-bottom: 27px;
    }
    &__description {
        color: $black;
        font-weight: 400;
        line-height: 24px;
        max-width: 500px;
        text-align: center;
        margin: 0 auto 85px;
    }
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    border: 1px solid #000;
    display: inline-block;
    box-sizing: border-box;
    min-height: 547px;
    flex: 0 0 463px;
    margin-bottom: 22px;
    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 183px;
        right: 41px;
        width: 18px;
        height: 15px;
        background-image: url(../img/like.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
    }
    // .card__content
    // .card__img
    &__img {
        width: 100%;
        height: 415px;
    }
    // .card__title
    &__title {
        color: #fffffe;
        font-size: 30px;
        font-weight: 700;
        line-height: 60px;
        position: absolute;
        top: 293px;
        left: 29px;
    }
    // .card__address
    &__address {
        color: #fffffe;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        position: absolute;
        top: 349px;
        left: 29px;
    }
    // .card__footer
    &__price {
        font-size: 30px;
        font-weight: 700;
        color: $black;
        line-height: 60px;
        margin-left: 31px;
    }
}

.card-description {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    &__01 {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        position: relative;
        color: $black;
        padding: 28px 62px 0px 61px;
        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 25px;
            left: 29px;
            width: 18px;
            height: 18px;
            background-image: url(../img/home.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &__02 {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        position: relative;
        text-decoration: none;
        transition: 0.3s ease;
        color: $black;
        padding-top: 26px;
        margin-right: 48px;
        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 27px;
            left: -32px;
            width: 18px;
            height: 18px;
            background-image: url(../img/area.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &__03 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        position: relative;
        text-decoration: none;
        transition: 0.3s ease;
        color: $black;
        padding: 7px 10px;
        padding-top: 28px;
        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 26px;
            right: 96px;
            width: 18px;
            height: 18px;
            background-image: url(../img/painting.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.more__btn {
    opacity: 0.4;
    color: $black;
    line-height: 24px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    margin: 52px auto 0 auto;
    padding-right: 20px;
    transition: .3s ease;
    cursor: pointer;
    &:hover {
        color: $black;
        opacity: 1;
    }
    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 7px;
        display: block;
        width: 7px;
        height: 12px;
        background-image: url(../img/arrow.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
    }
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}